:root {
    --primary-color: #333;
    --secondary-color: #3a3a3a;
    --secondary-hover-color: #171718;
    --background-light: #f9f9f9;
    --background-white: #ffffff;
    --text-color-primary: #333;
    --text-color-secondary: #555;
    --text-color-tertiary: #777;
    --border-color: #ddd;
    --link-color: white;
    --link-hover-color: #575757;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--link-color);
    text-align: center;
}

main,header {
    margin-right: 220px; 
    padding: 20px;
    width: calc(100% - 220px); 
    max-width: 100%;
    overflow: auto; 
    z-index: 1;
    
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

/* Contêiner principal para centralizar o conteúdo */
.welcome-container {
    max-width: 500px;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--box-shadow-color);
}

/* Contêiner da foto */
.photo-container {
    margin-bottom: 20px;
}

/* Estilos para a foto do perfil */
.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--primary-color);
}

/* Estilos para o botão de entrada */
.button {
    padding: 10px 20px;
    background-color: var(--button-bg-color);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.button:hover {
    background-color: var(--button-hover-bg-color);
}

.about-me {
    padding: 40px;
    background-color: var(--background-light);
    border-radius: 8px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 8px var(--box-shadow-color);
}

.about-me h2 {
    text-align: center;
    font-size: 28px;
    color: var(--text-color-primary);
    margin-bottom: 20px;
}

.about-me-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.about-me-text {
    flex-grow: 1;
}

.about-me-text p {
    font-size: 16px;
    color: var(--text-color-secondary);
    line-height: 1.6;
    margin-bottom: 10px;
}

.academic-background {
    padding: 40px;
    background-color: var(--background-light);
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--box-shadow-color);
}

.academic-background h2 {
    text-align: center;
    font-size: 28px;
    color: var(--text-color-primary);
    margin-bottom: 30px;
}

.academic-item {
    margin-bottom: 30px;
    padding: 20px;
    background-color: var(--background-white);
    border-radius: 8px;
    border-left: 4px solid var(--primary-color);
    box-shadow: 0 2px 4px var(--box-shadow-color);
}

.academic-item p {
    padding: 3px;
}

.academic-item h3 {
    font-size: 22px;
    color: var(--text-color-secondary);
    margin: 0;
}

.institution {
    font-size: 16px;
    color: var(--text-color-secondary);
    margin: 5px 0;
    font-weight: bold;
}

.duration {
    font-size: 14px;
    color: var(--text-color-tertiary);
    margin: 5px 0 15px;
    font-style: italic;
}

.description {
    font-size: 16px;
    color: var(--text-color-primary);
    line-height: 1.6;
}

.portfolio-container {
    padding: 40px;
    background-color: var(--background-light);
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--box-shadow-color);
    text-align: center;
}

.portfolio-container h2 {
    font-size: 28px;
    color: var(--text-color-primary);
    margin-bottom: 20px;
}

.project {
    padding: 20px;
    background-color: var(--background-white);
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--box-shadow-color);
    margin-bottom: 20px;
    text-align: left;
}

.project h3 {
    font-size: 22px;
    color: var(--text-color-primary);
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
    color: var(--text-color-secondary);
    line-height: 1.6;
    margin-bottom: 15px;
}

.project a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
    transition: color 0.3s;
}

/* Efeito ao passar o mouse sobre os links dos projetos */
.project a:hover {
    color: var(--secondary-hover-color);
}

.contact-container {
    padding: 40px;
    background-color: var(--background-light);
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--box-shadow-color);
    text-align: center;
}

.contact-container h2 {
    font-size: 28px;
    color: var(--text-color-primary);
    margin-bottom: 20px;
}

.contact-container p {
    font-size: 16px;
    color: var(--text-color-secondary);
    margin-bottom: 30px;
}

/* Estilos do formulário de contato */
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form label {
    font-size: 16px;
    color: var(--text-color-primary);
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
    max-width: 400px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 16px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--link-color);
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: var(--secondary-hover-color);
}

.contact-info {
    margin-top: 40px;
}

.contact-info p {
    font-size: 16px;
    color: var(--text-color-secondary);
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info li {
    margin: 10px 0;
}

.contact-info a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 18px;
    transition: color 0.3s;
}

.contact-info a:hover {
    color: var(--secondary-hover-color);
}

/* Responsividade para dispositivos móveis */
@media (max-width: 600px) {
    .contact-container {
        padding: 20px;
        max-width: 100%;
    }

    .contact-form input,
    .contact-form textarea,
    .contact-form button {
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .academic-background {
        padding: 20px;
        max-width: 100%;
    }

    .academic-item {
        padding: 15px;
    }

    .academic-item h3 {
        font-size: 20px;
    }

    .institution,
    .duration,
    .description {
        font-size: 14px;
    }
}

.menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

ul {
    list-style-type: none;
}

.menu ul li {
    margin: 20px 0;
}

.menu ul li a {
    text-decoration: none;
    color: var(--link-color);
    font-size: 18px;
    display: block;
    text-align: center;
    padding: 10px;
    transition: background-color 0.3s;
}

.menu ul li a:hover {
    background-color: var(--link-hover-color);
}

.content {
    margin-right: 220px;
    padding: 20px;
    width: calc(100% - 220px);
    max-width: 100%;
    overflow: auto;
    z-index: 1;
}

@media (max-width: 768px) {
    .menu {
        width: 150px;
    }

    .content {
        margin-right: 170px;
        padding: 10px;
    }

    .menu ul li a {
        font-size: 16px;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    text-align: center;
    padding: 10px 0;
    z-index: 2;
}

.footer a {
    margin: 0 15px;
    text-decoration: none;
    color: var(--link-color);
    font-size: 18px;
    transition: transform 0.3s;
}

.footer a:hover {
    transform: scale(1.1);
}

.footer img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
